<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainSuite">
<groups>
<run>
<include name="group1"/>
</run>
</groups>
<test thread-count="5" name="ModuleOneTest">
    <classes>
      <class name="TestNGSample.SampleTest"/>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="ModuleTwoTest">
    <classes>
      <class name="TestNGSample.NewTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- MainSuite -->
